body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Consolas", serif;
    color: white;
    background-image: url(https://i.pinimg.com/originals/fc/01/fc/fc01fcf41d53c4cab99e05c2dcaf848f.gif);

}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid hsl(0, 100%, 50%);
    -webkit-animation: rainbow 3s infinite alternate;
}

@-webkit-keyframes rainbow {
    0% {border-color: hsl(0, 100%, 50%);}
    14% {border-color: hsl(30,100%,50%);}
    28% {border-color: hsl(60,100%,50%);}
    42% {border-color: hsl(120,100%,50%);}
    56% {border-color:  hsl(240,100%,50%);}
    70% {border-color: hsl(280,100%,50%);}
    84% {border-color: hsl(320,100%,50%);}
    100% {border-color: hsl(255, 100%, 50%);}
  }

#name:focus {
    transform: scale(1.1);
}

h1 {
    padding-left: 50px;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid hsl(0, 100%, 50%);
    -webkit-animation: rainbow 3s infinite alternate;
}

#navbar {
    padding-right:50px;
}

.nav {
    padding-left: 20px;
}

.nav:hover {
    transform: scale(1.1);
}

